.wallet .jumbotron .btn-toolbar {
    margin: 15px 0;
}

.wallet .jumbotron .btn-toolbar .btn {
    float: none;
}

.wallet #import {
    display: none;
}

.wallet .actions .nav-body {
    padding: 15px;
}

.wallet .actions {
    text-align: left;
    min-height: 400px;
}
